[submodule "jemalloc"]
	path = 3rdparty/jemalloc
	url = https://github.com/jemalloc/jemalloc.git

[submodule "poco"]
	path = 3rdparty/poco
	url = https://github.com/pocoproject/poco.git
	branch = poco-1.12.4

[submodule "googletest"]
	path = 3rdparty/googletest
	url = https://github.com/google/googletest.git
